body {
    font: 12px "Helvetica Neue", sans-serif;
    color: #333;
}

h1 {
    color: blue;
}

#wrapper {
    width: 1024px;
    margin: auto;
}

#game {
    margin: 0 auto;
    border: 3px solid #000;
}