body {
    font: 12px "Helvetica Neue", Helvetica;
    color: #444;
    background-color: #000;
}

h1 {
    color: #333;
    text-shadow: #aaa 1px 1px 0px;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
}

#game {
    border: 3px solid #222;
}

#logo {
    max-width: 300px;
    padding-bottom: 5px;
}