body {
    font: 12px Helvetica, sans-serif;
    color: #222;
    background-color: #fefefe;
}

h1 {
    color: #333;
    text-shadow: #aaa 1px 1px 0px;
}

#wrapper {
    width: 1024px;
    margin: auto;
}

#game {
    margin: 0 auto;
    border: 3px solid #ccc;
}

#logo {
    width: 30%;
    padding-bottom: 5px;
}